.container {
  border: 2px solid #cfbe24;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease; /* Adding transition for smooth hover effect */
  font-size: 25px;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
}

.container:hover {
  border-color: #2196f3; /* Change the border color on hover */
}

.custom-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #a10d0d;
}

.custom-button:focus {
  outline: none;
}

.custom-button:active {
  background-color: #1976d2;
}

.centered-text {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
