<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addPerson()">Add friend</button>
</div>
<div class="favorite">
  <p>
    My favorite people is:
    {{ favoriteNames() }}
  </p>
</div>
<div class="people">
  <app-people
    *ngFor="let person of people"
    [id]="person.id"
    [name]="person.name"
    [isFavorite]="isFavorite.bind(this)"
    (favoriteSelected)="addFavorite($event)"
    (removeFavorite)="removeFavorite($event)"
  ></app-people>
</div>
