:host {
  box-sizing: border-box;
  display: block;
  padding: 0 0.5em;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.button {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  opacity: 0.8;
}
