<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite" >
  <p>My favorite people are: {{ favorites?.toString() }}</p>
</div>
<div class="people">
  <!-- Add your people component here -->
  <app-people 
    *ngFor="let p of people"
    [person]="p"
    (favoritePerson)="addToFavorites($event)"
    (removeFromFavoritesPerson)="removeFromFavorites($event)"
    ></app-people>
</div>
