:host {
  box-sizing: border-box;
  display: block;
  padding: 0 0.5em;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.2em;
}

/* Style for each element within .people grid */
.people > * {
  border: 1px solid black; /* Add a border */
  padding: 0.5em; /* Add padding for spacing */
  background-color: rgb(207, 206, 206);

}