:host {
  box-sizing: border-box;
  display: block;
  padding: 0 0.5em;
}

/* .favorite {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.favorite {
  display: flex;
  flex-direction: column; /* Places each item in a new row */
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.people {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.2em;
}
