:host {
  box-sizing: border-box;
  display: block;
  padding: 0 0.5em;
}

.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em
}

.people {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.2em;
}
