<ul>
  <li *ngFor="let person of people" class="person-container">
    <span class="favorite-icon" [class.favorite-active]="person.isFavorite" (click)="selectFavorite(person)">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 18.5l-6.09 3.5a.5.5 0 0 1 -.75 -.54l1.3-6.97-5.47 -5.42a.5.5 0 0 1 .29 -.85l7.15 -1.03 3.18 -6.46a.5.5 0 0 1 .89 0l3.18 6.46 7.15 1.03a.5.5 0 0 1 .29 .85l-5.47 5.42 1.3 6.97a.5.5 0 0 1 -.75 .54l-6.09 -3.5z" />
      </svg>
    </span>
    <span class="favorite-status" [class.favorite-active]="person.isFavorite"></span>
    {{ person.name }}
  </li>
</ul>
